In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv(
    "../datasets/lending_club.csv", 
    usecols=["loan_status", "total_acc", "int_rate", "revol_util", "annual_inc", "dti", "fico_range_low", "num_accts_ever_120_pd", "avg_cur_bal"]
)

df.rename(columns = {
    "loan_status": "credit_default", 
    "total_acc": "credit_card", 
    "int_rate": "interest_rate", 
    "revol_util": "utilization_rate", 
    "annual_inc": "income", 
    "dti": "debt_to_income", 
    "fico_range_low": "FICO_score", 
    "num_accts_ever_120_pd": "days_line", 
    "avg_cur_bal": "balance"
}, inplace = True)

df['credit_default'].replace({
    "Fully Paid": 0, 
    "Current": 0, 
    "Charged Off": 1
}, inplace=True)

df_filtered = df[df['credit_default'].isin([0, 1])]

num_rows = len(df_filtered)

df_sample = df_filtered.sample(n=1000, random_state=42)
df_sample = df_sample[['credit_default', 'credit_card', 'interest_rate', 'utilization_rate', 'income', 'debt_to_income', 'FICO_score', 'days_line', 'balance']]

df_sample.head()

C:\Users\msala\AppData\Local\Temp\ipykernel_17720\561567605.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['credit_default'].replace({

,credit_default,credit_card,interest_rate,utilization_rate,income,debt_to_income,FICO_score,days_line,balance
163748,1,17.0,12.29,70.9,68000.0,31.19,680.0,0.0,4117.0
1910933,1,25.0,20.49,61.0,100024.0,20.68,715.0,0.0,31259.0
882884,0,29.0,7.07,26.3,70000.0,9.31,735.0,0.0,34691.0
1640406,0,11.0,7.14,25.0,26400.0,1.59,795.0,NaN,NaN
1195218,0,32.0,12.49,79.5,41288.0,23.63,670.0,0.0,6862.0

In [2]:
X = df_sample[['credit_card', 'interest_rate', 'utilization_rate', 'income', 'debt_to_income', 'FICO_score', 'days_line', 'balance']]
y = df_sample['credit_default']

# _, X_test, _, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# model = LogisticRegression()
# model.fit(X, y)

corr_matrix = X.corr()

target_corr = df_sample.corr()['credit_default']

NameError: name 'df_sample' is not defined

In [3]:
plt.figure(figsize=(10, 7))

ax1 = plt.subplot(1, 8, (4, 8))
sns.heatmap(corr_matrix, annot=True, cmap='seismic', cbar=False, ax=ax1, center=0)
ax1.set_title('Correlation Matrix (Features)', fontsize=12)

ax2 = plt.subplot(1, 8, 1)
sns.heatmap(target_corr.drop('credit_default').to_frame(), annot=True, cmap='seismic', cbar=False, ax=ax2, center=0)
ax2.set_title('Correlation with Target', fontsize=12)

plt.tight_layout()

plt.show()

NameError: name 'plt' is not defined

In [ ]:
def sumFeatureTarget():
    sum = 0
    for i in range(8):
        

    return sum

        
        

def sumFeatureFeature():
    return 1

x_axis = []
y_axis = []

for phi in range(0, 1, 0.1):
    h = -((phi * sumFeatureTarget()) - ((1 - phi) * sumFeatureFeature()))

    
    
    x_axis.append()
    y_axis.append(phi)