In [1]:
import pandas as pd

In [11]:
df = pd.read_csv(
    "../datasets/lending_club.csv", 
    usecols=["loan_status", "total_acc", "int_rate", "revol_util", "annual_inc", "dti", "fico_range_low", "num_accts_ever_120_pd", "avg_cur_bal"]
)

df.rename(columns={
    "loan_status": "credit_default", 
    "total_acc": "credit_card", 
    "int_rate": "interest_rate", 
    "revol_util": "utilization_rate", 
    "annual_inc": "income", 
    "dti": "debt_to_income", 
    "fico_range_low": "FICO_score", 
    "num_accts_ever_120_pd": "days_line", 
    "avg_cur_bal": "balance"
}, inplace=True)

df['credit_default'].replace({
    "Fully Paid": "Not Defaulted", 
    "Current": "Not Defaulted", 
    "Charged Off": "Defaulted"
}, inplace=True)

df_sample = df.sample(n=1000, random_state=42)

df_sample.head()

C:\Users\msala\AppData\Local\Temp\ipykernel_17720\3388021595.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['credit_default'].replace({

,interest_rate,income,credit_default,debt_to_income,FICO_score,utilization_rate,credit_card,balance,days_line
392949,10.49,120000.0,Not Defaulted,24.05,735.0,57.8,42.0,26901.0,0.0
1273506,12.99,21900.0,Not Defaulted,10.03,685.0,38.9,20.0,347.0,0.0
324024,6.68,83000.0,Not Defaulted,19.53,780.0,17.2,25.0,12251.0,0.0
2066630,10.91,52000.0,Not Defaulted,9.16,740.0,12.8,25.0,505.0,0.0
477199,26.30,65000.0,Not Defaulted,36.26,715.0,24.7,33.0,5744.0,0.0

In [ ]:
# def sumFeatureTarget():
#     return 1

# def sumFeatureFeature():
#     return 1

# x = []
# y = []

# for phi in range(0, 1, 0.1):
#     h = -((phi * sumFeatureTarget()) - ((1 - phi) * sumFeatureFeature()))
    

    
#     x.append()
#     y.append(phi)