In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(
    "../datasets/lending_club.csv", 
    usecols=["int_rate", "annual_inc", "dti", "avg_cur_bal"]
)

df.rename(columns={
    "int_rate": "interest_rate", 
    "annual_inc": "income", 
    "dti": "debt_to_income", 
    "avg_cur_bal": "balance"
}, inplace=True)

df_sample = df.sample(n=1000, random_state=42)

df_sample.head()

         interest_rate    income  debt_to_income  balance
392949           10.49  120000.0           24.05  26901.0
1273506          12.99   21900.0           10.03    347.0
324024            6.68   83000.0           19.53  12251.0
2066630          10.91   52000.0            9.16    505.0
477199           26.30   65000.0           36.26   5744.0